<launch>

  <!-- loading some parameters used by the horizon publisher-->
  <!-- <rosparam command="load" file="$(find awesome_leg_pholus)/config/horizon_gazebo_cosim.yaml" />  -->

  <!-- loading some useful actuators parameters-->
  <rosparam command="load" file="$(find awesome_leg_pholus)/config/actuators.yaml" /> 
  
  <!-- Switching between task types and the associated parameters-->
  <group if="$(eval arg('task_type')=='jump')">
    <!-- loading some horizon solver parameters-->
    <rosparam command="load" file="$(find awesome_leg_pholus)/config/horizon_jump.yaml" /> 
    <param name="horizon/task_type" type="string" value="jump" />
  </group>
  <group if="$(eval arg('task_type')=='trot')">
    <!-- loading some horizon solver parameters-->
    <rosparam command="load" file="$(find awesome_leg_pholus)/config/horizon_trot.yaml" /> 
    <param name="horizon/task_type" type="string" value="trot" />
  </group>
</launch>