<?xml version="1.0"?>
<robot>

  <!-- Materials definition for the visual primitives -->
    <material name="awesome_leg_material">
        <color rgba="0.7 0.7 0.7 1.0" />
    </material>
    <material name="test_rig_material">
        <color rgba="0.647 0.655 0.678 1.0" />
    </material>
    
</robot>
